$primary: #e4b61a;
$dark: #2c3258;

$card_height: 400px;

@import "bootstrap";

section{
  margin-top: 80px;
}

hr {
  margin: 0rem 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.fixed_nav{
  position:fixed;
  width:100%;
  z-index: 1000000;
  top:0;
}

.progress{
height: 5px;
}

.progress-bar{
  height: 5px;
  background: $primary;
}

.card-deck a{
  text-decoration: none;
}

.card{
  border:none
}

.card:hover{
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  height: $card_height;
}

.card-show{
  @extend .card;
  height: $card_height * 1.5;
}

.card-category:hover{
  @extend .card;
  height: $card_height;
}

.card_banner{
  position:absolute;
  z-index: 100000;
  width: 100%;
  height: 40px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 80%;
}

.card_banner_new{
  @extend .card_banner;
  background-color: #e4b61a;
  color: $dark;
}

.card_banner_sale{
  @extend .card_banner;
  background-color: #e42e1a;
  color: white;
}

.car-index{
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.car-show{
  margin: auto;
  padding: 5rem 5rem;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.car:hover{
  transform: scale(1.1);
}

.car-index img{
  width: 15rem;
}

.info{
  height: 100px;

  h1{
    font-size: 1.7rem;
    color: #dfdfdf;
    background: $dark;
    padding: 0rem 1rem;
    box-shadow: 0 2px 5px black;
  }

  h2{
    font-size: 1rem;
    color: $dark;
    padding: 0rem 1rem;
  }

  h3{
    font-size: 0.9rem;
    color: $dark;
    padding: 0rem 1rem;
  }
}

.info-details{
  h1{
    font-size: 3rem;
    padding: 0rem 2rem;
  }
  h2{
    margin-top: 2rem;
    font-size: 2.5rem;
    color: #dfdfdf;
    background: $dark;
    padding: 0rem 2rem;
    box-shadow: 0 2px 5px black;
  }
  h4{
    font-size: 1.3rem;
  }
  h5{
    font-size: 1rem;
  }

  .stock{
    color: green;
  }

  svg{
    vertical-align: bottom;
  }

  p{
    font-size: 0.9rem;
    padding: 0rem 2rem;
    text-align: justify;
  }
}

.info-home{
  @extend .info;
  height: auto;
}

.info-category{
  height: 150px;
}

.sizes{
  display: flex;
  justify-content: center;
  vertical-align: bottom;
}

.sizes button{
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 5px black;
  width: 80%;
  color: $dark;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  .first, .last, .page{
      padding : 0;
      float: none;
      border: none;
  }
}

.pag{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
