<h2 class="">Products</h2>

<div class="card-deck">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text"><%= link_to product.name, product %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= product.brand %></small>
          </div>
        </div>
      </div>
    <% end %>
   </div>
</div>